// * {
//   margin: 0;
//   padding: 0;
// }

.create-list {
  button {
    margin: 0 10px 0 10px;
  }
}
.done {
  text-decoration: line-through;
}

.error {
  border: 1px solid red;
}

.todolist-item {
  li {
    list-style-type: none;
    margin: 10px 0 10px 0;
  }
  .items {
    display: flex;
    .actions {
      button {
        margin: 0 5px 0 5px;
      }
    }
  }
}
